Repository Epitech-R-Type/R-Type, pull requests merged in 2022-11, with the labels that each got.

#107 106 add protocol for communicating music add documentation about player directions communication
  Documentation/Client.md
  protocol.txt
  src/client/ClientGame/ClientGame.cpp
  src/client/ClientGame/ClientGame.hpp
  src/client/Protocols/ClientGameProtocol.cpp
  src/client/Protocols/ClientGameProtocol.hpp
  src/client/Systems/MusicSystem.cpp
  src/server/Game.cpp
  src/server/Protocols/GameProtocol.cpp
  src/server/Protocols/GameProtocol.hpp
  src/shared/Networking/ProtocolUtils.hpp
Labels: Documentation, Enhancement, Server, Networking, Raylib, Client

#118 [Fix] remove semicolon
  .github/workflows/build_windows.yml
  CMakeLists.txt
  Makefile
  README.md
  src/WindowsGuard.hpp
  src/client/Protocols/ClientGameProtocol.cpp
  src/server/Systems/Factory.cpp
  src/shared/Networking/UdpCommunication.cpp
  src/shared/Utilities/Utilities.hpp
Labels: Bug, Build, Windows, Linux

#125 121 fix windows exeuction
  .vscode/launch.json
  CMakeLists.txt
  src/client/Client.cpp
  src/client/ClientGame/ClientGame.cpp
  src/client/ClientGame/ClientGame.hpp
  src/client/Protocols/ClientGameProtocol.cpp
  src/client/Protocols/ClientLobbyProtocol.cpp
  src/client/Protocols/ClientLobbyProtocol.hpp
  src/client/Protocols/TcpClient.cpp
  src/client/Protocols/TcpClient.hpp
  src/client/Systems/HealthSystem.cpp
  src/client/Systems/MusicSystem.cpp
  src/client/Systems/MusicSystem.hpp
  src/client/Systems/PlayerMovementSystem.cpp
  src/client/Systems/PlayerMovementSystem.hpp
  src/client/Systems/SpriteSystem.cpp
  src/client/Systems/SpriteSystem.hpp
  src/client/main.cpp
  src/server/Game.cpp
  src/server/Protocols/Connections.hpp
  src/server/Protocols/GameProtocol.cpp
  src/server/Protocols/GameProtocol.hpp
  src/server/Protocols/LobbyProtocol.cpp
  src/server/Protocols/LobbyProtocol.hpp
  src/server/Protocols/TcpServer.cpp
  src/server/Protocols/TcpServer.hpp
  src/server/main.cpp
  src/shared/ECS/ECSManager.cpp
  src/shared/ECS/Serialization.hpp
  src/shared/MessageQueue/MessageQueue.hpp
  src/shared/Networking/ProtocolUtils.hpp
  src/shared/Networking/UdpCommunication.cpp
  src/shared/Networking/UdpCommunication.hpp
  src/shared/Utilities/Utilities.cpp
  src/shared/Utilities/Utilities.hpp
  src/shared/Utilities/ray.hpp
Labels: Bug, Windows

#127 [Build] fix macos build
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_windows.yml
Labels: Bug, Build, MacOS

#128 95 serialization unit testing
  CMakeLists.txt
  test/ECS/EcsTests.cpp
  test/ECS/Serialization.cpp
  test/main.cpp
Labels: Bug, CI / Testing

#132 116 handle connection closing
  CMakeLists.txt
  protocol.txt
  src/client/Client.cpp
  src/client/Client.hpp
  src/client/ClientGame/ClientGame.cpp
  src/client/ClientGame/ClientGame.hpp
  src/client/Protocols/ClientGameProtocol.cpp
  src/client/Protocols/ClientGameProtocol.hpp
  src/client/Protocols/ClientLobbyProtocol.cpp
  src/client/Protocols/ClientLobbyProtocol.hpp
  src/client/Protocols/TcpClient.cpp
  src/client/Protocols/TcpClient.hpp
  src/client/main.cpp
  src/server/Game.cpp
  src/server/Game.hpp
  src/server/Protocols/Connections.cpp
  src/server/Protocols/Connections.hpp
  src/server/Protocols/GameProtocol.cpp
  src/server/Protocols/GameProtocol.hpp
  src/server/Protocols/LobbyProtocol.cpp
  src/server/Protocols/LobbyProtocol.hpp
  src/server/Protocols/TcpServer.cpp
  src/server/Server.cpp
  src/server/Server.hpp
  src/shared/Networking/ProtocolUtils.hpp
Labels: Server, Networking, Client

#134 83 implement multitple lobby handling
  .vscode/launch.json
  protocol.txt
  src/client/Client.cpp
  src/client/Protocols/ClientLobbyProtocol.cpp
  src/client/Protocols/ClientLobbyProtocol.hpp
  src/server/Game.cpp
  src/server/Game.hpp
  src/server/Protocols/Connections.cpp
  src/server/Protocols/Connections.hpp
  src/server/Protocols/LobbyProtocol.cpp
  src/server/Protocols/LobbyProtocol.hpp
  src/server/Server.cpp
  src/server/Server.hpp
  src/shared/Utilities/Utilities.cpp
Labels: Server, Networking, Client, Lobby

#130 129 graphical lobby
  .github/workflows/exec_tests.yml
  .vscode/launch.json
  CMakeLists.txt
  README.md
  src/client/Client.cpp
  src/client/Client.hpp
  src/client/ClientGame/ClientGame.cpp
  src/client/ClientGame/ClientGame.hpp
  src/client/GUI/Components/Button.cpp
  src/client/GUI/Components/Button.hpp
  src/client/GUI/Components/TextBox.cpp
  src/client/GUI/Components/TextBox.hpp
  src/client/GUI/Menus/ConnectionMenu.cpp
  src/client/GUI/Menus/ConnectionMenu.hpp
  src/client/GUI/Menus/LobbyMenu.cpp
  src/client/GUI/Menus/LobbyMenu.hpp
  src/client/GUI/Menus/LobbySelectionMenu.cpp
  src/client/GUI/Menus/LobbySelectionMenu.hpp
  src/client/GUI/Menus/Menu.cpp
  src/client/GUI/Menus/Menu.hpp
  src/client/Protocols/ClientGameProtocol.cpp
  src/client/Protocols/ClientGameProtocol.hpp
  src/client/Protocols/ClientLobbyProtocol.cpp
  src/client/Protocols/ClientLobbyProtocol.hpp
  src/client/Protocols/TcpClient.hpp
  src/client/Systems/HealthSystem.cpp
  src/client/Systems/MusicSystem.cpp
  src/client/Systems/MusicSystem.hpp
  src/client/Systems/PlayerMovementSystem.cpp
  src/client/Systems/SpriteSystem.cpp
  src/client/Systems/SpriteSystem.hpp
  src/client/main.cpp
  src/server/Protocols/Connections.hpp
  src/server/Protocols/GameProtocol.hpp
  src/server/Protocols/LobbyProtocol.cpp
  src/server/Protocols/LobbyProtocol.hpp
  src/server/Protocols/TcpServer.hpp
  src/shared/MessageQueue/MessageQueue.hpp
  src/shared/Networking/UdpCommunication.hpp
  src/shared/Utilities/Utilities.hpp
  src/shared/Utilities/WindowsGuard.hpp
  src/shared/Utilities/ray.hpp
  src/shared/Utilities/secureAsio.hpp
Labels: Client, Lobby

#133 122 implement level files
  CMakeLists.txt
  Documentation/Level.md
  resources/gunShot1.wav
  resources/song2.mp3
  src/client/Systems/MusicSystem.hpp
  src/client/Systems/SpriteSystem.cpp
  src/createLevelFile/Level.cpp
  src/createLevelFile/Level.hpp
  src/createLevelFile/main.cpp
  src/server/Game.cpp
  src/server/Game.hpp
  src/server/Server.hpp
  src/server/Systems/Factory.cpp
  src/server/Systems/Factory.hpp
  src/server/levels/level1
  src/server/levels/level2
  src/server/levels/level3
  src/shared/ECS/Components.hpp
  src/shared/Utilities/Utilities.hpp
Labels: Game Engine

#138 137 improve lobby interface
  protocol.txt
  src/client/Client.cpp
  src/client/Protocols/ClientGameProtocol.cpp
  src/client/Protocols/ClientGameProtocol.hpp
  src/client/Protocols/ClientLobbyProtocol.cpp
  src/client/Protocols/ClientLobbyProtocol.hpp
  src/server/Game.cpp
  src/server/Protocols/Connections.cpp
  src/server/Protocols/Connections.hpp
  src/server/Protocols/GameProtocol.cpp
  src/server/Protocols/GameProtocol.hpp
  src/server/Protocols/LobbyProtocol.cpp
  src/server/Protocols/LobbyProtocol.hpp
  src/server/Server.cpp
  src/server/Server.hpp
  src/shared/Networking/ProtocolUtils.hpp
  src/shared/Systems/JanitorSystem.cpp
  src/shared/Systems/JanitorSystem.hpp
Labels: Server, Networking, Client

#143 141 lobby system api implementation
  protocol.txt
  src/client/Client.cpp
  src/client/Client.hpp
  src/client/GUI/Components/Button.cpp
  src/client/GUI/Menus/ConnectionMenu.cpp
  src/client/GUI/Menus/ConnectionMenu.hpp
  src/client/GUI/Menus/LobbyMenu.cpp
  src/client/GUI/Menus/LobbyMenu.hpp
  src/client/GUI/Menus/LobbySelectionMenu.cpp
  src/client/GUI/Menus/LobbySelectionMenu.hpp
  src/client/GUI/Menus/Menu.hpp
  src/client/Protocols/ClientLobbyProtocol.cpp
  src/server/Protocols/Connections.cpp
  src/shared/Utilities/UUID.cpp
  src/shared/Utilities/UUID.hpp
Labels: Client, GUI

#145 [Feature] improve qualtity of life
  CMakeLists.txt
  resources/menu-background.png
  src/client/Client.cpp
  src/client/Client.hpp
  src/client/ClientGame/ClientGame.cpp
  src/client/GUI/Menus/ConnectionMenu.cpp
  src/client/GUI/Menus/Menu.cpp
  src/client/GUI/Menus/Menu.hpp
  src/client/main.cpp
  src/shared/ECS/Components.hpp
Labels: Client, GUI

#139 [Doc] added the documentation for the ECS systems
  .gitbook/assets/Bild_2022-11-12_142731446.png
  .gitbook/assets/Blank board.png
  .gitbook/assets/Document systems.png
  .gitbook/assets/ECS Systems overview.png
  .gitbook/assets/client processflow.png
  .gitbook/assets/server processflow.png
  README.md
  SUMMARY.md
  dev-documentation/README.md
  dev-documentation/client-documentation.md
  dev-documentation/comunication-protocol.md
  dev-documentation/ecs-documentation.md
  dev-documentation/ecs.md
  dev-documentation/team-coding-conventions.md
  protocol.txt
  user-documentation/README.md
  user-documentation/install-and-build-guide.md
  user-documentation/license.md
  user-documentation/systems-overview.md
  user-documentation/tutorials/README.md
  user-documentation/tutorials/new-entities/README.md
  user-documentation/tutorials/new-entities/new-background.md
  user-documentation/tutorials/new-entities/new-boss.md
  user-documentation/tutorials/new-entities/new-enemies.md
  user-documentation/tutorials/new-graphics.md
  user-documentation/tutorials/new-levels.md
Labels: Documentation

#153 93 pimp readme
  README.md
  src/client/Client.cpp
Labels: Documentation
